body{
    background-color: aqua;
    }
    h1{
        background-color: brown;
    }
    h4{
        background-color: blue;
    }
    p{
        background-color: yellow;
    }
    a{
        background-color: green;
    }   
    h3  {
        background-color: red;
    }